#nav{
	height: 80px !important;
}

#nav-logo {
}

#nav-title {
	font-size: 24px;
	font-family: "Gloria Hallelujah", cursive;
}

#main{
	height: 100%;
}

#footer{
	position:fixed;
	bottom:0;
	width: 100%;
}

#grid{
	margin-top: 10%;
}

#signup{
	margin:10% 10% 10% 10%;
}

.login-h3{
	font-size: 18px;
       	font-family: 'Bitter', serif;
	text-align: center;
}

/* linear gradient background */
.gradient {
	background: 0deg, #498fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(0deg, #8eb9ff, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(0deg, #8eb9ff, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(0deg, #8eb9ff, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(0deg, #8eb9ff , white); /* Standard syntax */
}

/* placeholder non standard uglyness */
::-webkit-input-placeholder {
	font-size: 110%;
    	font-weight: 600;
	color:    #999;
}
:-moz-placeholder {
    	font-weight: 600;
	font-size: 110%;
	color:    #999;
}
::-moz-placeholder {
    	font-weight: 600;
	font-size: 110%;
	color:    #999;
}
:-ms-input-placeholder {
    	font-weight: 600;
	font-size: 110%;
	color:    #999;
}

/* loading cool pic*/
.loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("/static/imgs/blue-preloader.gif");
    background-repeat: no-repeat;
    background-position: center;
}

/* doted online/offile user */
.list-style{
   list-style: none; 
}

.online {
    color: black;
}
.online::before{
    content: "●"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: green;
}
