{{ define "head" }} {{ end }}

{{ define "page" }}
	{{ template "content" }}
{{ end }}

{{ define "footer" }}
<div id="footer" class="ui inverted footer segment">
	<div class="ui center aligned container">
		<div class="ui inverted section divider"></div>
		<img src="/static/imgs/Water-48.png" class="ui centered mini image">
		<div class="ui horizontal inverted small divided link list">
			<a class="item" href="#"> Site Map </a>
			<a class="item" href="#"> Contact Us </a>
			<a class="item" href="#"> Term and Conditions </a>
			<a class="item" href="#"> Privacy policy </a>
			<a class="item" href="#"> Credits </a>
		</div>			
	</div>
</div>
{{ end }}

