{{ define "base" }}

<!DOCTYPE html lang="en">
<head>
    <title>Wind&Wawes</title>
    <!-- Css libs  -->
    <link href="/static/css/semantic.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <!-- Credits to add <a href="https://icons8.com/web-app/13101/Water">Water icon credits</a> -->

    <!-- Optional fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <!-- Js libs -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script tepe="text/javascript" src="/static/js/semantic.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script type="text/javascript" src="static/js/waterandboards.js"></script>
    <!-- Imgs or icons -->
    <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon" />
    <script type="text/javascript">
	function preload(arrayOfImages) {
	    $(arrayOfImages).each(function(){
		            $('<img/>')[0].src = this;
			            // Alternatively you could use:
			            // (new Image()).src = this;
			        });
	}
	preload(["static/imgs/windboards.jpg"]);
    </script>

    <!-- Headed head stuff -->
    	{{ template "head" }}


</head>

<body class="">
	<div id="nav" class="ui fixed inverted menu">
		<div class="ui container">
			<a id="nav-title" href="#" class="header item">
				<img id="nav-log" class="logo" src="/static/imgs/Water-48.png">
				 "W&B          ...just add water!"
			</a>
		</div>
	</div>

		{{ template "page" }}

		{{ template "footer" }}

</body>
</html>

{{ end }}
