{{ define "content" }}
<div class="row">
    <div class="loading">
    </div>
    
    <div class="col-md-3">
    </div>
    
    <div id="msgContainer" class="col-md-6">
        <div id="err" class="alert alert-danger hide">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h5 id="errp"></h5>
        </div>
        <div class="nobar">
            <div id="chat" class="chat-msgs">
                <ul id="msgSend">
                
                </ul>
            </div>           
        </div>
        <span class="help-block"></span>
            <div class="input-group">
                <input id="msg" type="text" class="form-control" onkeyup="sendMessage(event)">
                <span class="input-group-btn">
                    <button class="btn btn-primary" onclick="sendMessage(null)" type="button"> Send </button>
                </span>
            </div>
        <span class="help-block"></span>
    </div>
    <div class="col-md-3">
        <div class="user-search">
            <div class="form-group has-feedback center-right" onkeyup="searchUsers(event)">
                <input id='search' type="text" class="form-control" placeholder="Search user..." />
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
            <div>
                <ul id="users-found" class="list-style">
                
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}