{{ define "content" }}

<div class="row">
    <div class="col-md-2">
    </div>
    
     <div class="col-md-8">
        <div id="err" class="alert alert-danger hide">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h5 id="errp"></h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item" aria-expanded="false" data-toggle="collapse" data-target="#collapseNick" > 
            <p><strong>Nickname</strong> <a class="list-right" href="#"> Edit </a></p> 
          </li>
          <div class="collapse" id="collapseNick">
            <form class="omb_loginForm collapsable">
                <div>
                    <h4> Please input the new nickname... </h4>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="nickname" type="text" class="form-control" placeholder="new nickname..." aria-describedby="sizing-addon2" required>
                </div>
                <span class="help-block"></span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="nickname2" type="text" class="form-control" placeholder="new nickname..." aria-describedby="sizing-addon2" required>
                </div>
                <span class="help-block"></span>
                <button onclick="updateNick()" class="btn btn-md btn-primary list-right"> <strong>Confirm Changes</strong> </button>
            </form>     
          </div> 
          <li class="list-group-item" aria-expanded="false" data-toggle="collapse" data-target="#collapseEmail" > 
            <p><strong>Email</strong>    <a class="list-right" href="#"> Edit </a></p> 
          </li>
          <div class="collapse" id="collapseEmail">
            <form class="omb_loginForm collapsable">
                <div>
                    <h4> Please input the new email address... </h4>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="email" type="email" class="form-control" placeholder="email address..." aria-describedby="sizing-addon2" required>
                </div>
                <span class="help-block"></span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="email2" type="email" class="form-control" placeholder="email address..." aria-describedby="sizing-addon2" required>
                </div>
                <span class="help-block"></span>
                <button onclick="updateEmail()"class="btn btn-md btn-primary list-right"> <strong>Confirm Changes</strong> </button>
            </form>           
          </div>
          <li class="list-group-item" aria-expanded="false" data-toggle="collapse" data-target="#collapsePhoto" > 
            <p><strong>Photo</strong>    <a class="list-right" href="#"> Edit </a></p> 
          </li>
          <div class="collapse" id="collapsePhoto">
            <form class="omb_loginForm collapsable">
                <div>
                    <h4> Please input the new photo from your hard drive to use as a profile picture... </h4>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
                    <input id="uploadPic" type="file" accept="image/*" class="form-control" placeholder="new photo url or new photo..." aria-describedby="sizing-addon2" required>
                </div>
                <span class="help-block"></span>
                <div id="uploadBar" class="hide progress">
                    <div id="progressbar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        0%
                    </div>
                </div> 
                <span class="help-block"></span>
                <button onclick="updatePhoto()" class="btn btn-md btn-primary list-right"> <strong>Confirm Changes</strong> </button>
            </form>           
          </div>
          <li class="list-group-item" aria-expanded="false" data-toggle="collapse" data-target="#collapsePhone" > 
            <p><strong>Phone number</strong> <a class="list-right" href="#"> Edit </a></p> 
          </li>
          <div class="collapse" id="collapsePhone">
            <form class="omb_loginForm collapsable">
                <div>
                    <h4> Please input the new phone number here... </h4>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="phonenumber" pattern="[0-9]+"type="text" class="form-control" placeholder="new phone number..." aria-describedby="sizing-addon2" required>
                </div>
                <span class="help-block"></span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="phonenumber2" pattern="[0-9]+" type="text" class="form-control" placeholder="new phone number..." aria-describedby="sizing-addon2" required>
                </div>
                    <span class="help-block"></span>
                    <button onclick="updatePhone()" class="btn btn-md btn-primary list-right"> <strong>Confirm Changes</strong> </button>
                </div> 
            </form>           
          </div>
       </ul>
    </div>
    
     <div class="col-md-2">
    </div>
</div>
{{ end }}